@charset "UTF-8";
html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  color: #333333;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-weight: 600;
}

img {
  width: 100%;
  vertical-align: top;
}

#main {
  background: url(../img/main-bg.png) no-repeat center/cover;
}

.inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 30px;
  margin: 0 auto;
}

@media screen and (max-width: 599px) {
  .inner {
    padding: 0 20px;
  }
}

.section__inner {
  max-width: 1240px;
}

.section__title-wrapper {
  text-align: center;
}

.section__title {
  color: #A0D793;
  font-size: 40px;
  letter-spacing: 0.05em;
  font-weight: 800;
}

.section__title-img-wrapper {
  width: 104px;
  margin: 0 auto;
}

.section__title-img-wrapper--concept {
  margin-bottom: 63px;
}

.section__title-img-wrapper--menu {
  margin-bottom: 40px;
}

.section__title-img-wrapper--access {
  margin-bottom: 32px;
}

.section__title-img-wrapper--gallery {
  margin-bottom: 55px;
}

.button {
  display: inline-block;
}

.header {
  padding: 37px 0 32px;
}

.header__inner {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
}

.header__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

.header__nav-item {
  margin-right: 24px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item a {
  display: block;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-family: 'Noto Serif JP', serif;
  font-weight: 500;
  text-transform: uppercase;
}

.header__contact-button {
  padding: 8px 11px;
  background: #A0D793;
  color: #fff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.fv__inner {
  max-width: 1440px;
  position: relative;
}

.fv__contents-wrapper {
  position: absolute;
  left: 5.5555%;
  bottom: 5.3472%;
}

.fv__contents {
  font-weight: 800;
  font-size: 40px;
}

.fv__bg-wrapper {
  width: 82.9521%;
  margin-left: auto;
}

.fv__bg {
  width: 100%;
  padding-top: 53.0492%;
  background: url(../img/fv.png) no-repeat center center/contain;
}

.concept {
  padding: 63px 0 89px;
}

.concept__contents p {
  text-align: center;
  letter-spacing: 0.03em;
}

.menu {
  padding: 40px 0 55px;
  background: url(../img/menu-bg.png) no-repeat center center/cover;
}

.menu__items {
  margin-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.3870%;
          flex: 0 0 48.3870%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 21px 25px 20px;
  background: #fff;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu__item:first-child {
  margin: 0 5% 40px;
  min-width: 600px;
}

.menu__item:first-child::after {
  content: "オススメの1品";
  position: absolute;
  padding: 8px 28px;
  background: #A0D793;
  top: 0;
  right: 0;
  display: inline-block;
  color: #fff;
  letter-spacing: 0.03em;
  font-weight: 800;
}

.menu__item:nth-child(even) {
  margin-right: 3.2258%;
}

.menu__item:nth-child(4) {
  margin-bottom: 0;
}

.menu__item:last-child {
  margin-bottom: 0;
}

.menu-item__img-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35.7781%;
          flex: 0 0 35.7781%;
  margin-right: 2.5044%;
}

.menu-item__img-wrapper {
  position: relative;
  padding-top: 100%;
}

.menu-item__img-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-item__contents {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.menu-item__title {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.menu-item__description {
  font-size: 14px;
  line-height: 1.4285;
  letter-spacing: 0.03em;
  margin-bottom: 14px;
}

.menu-item__price {
  font-weight: 20px;
  letter-spacing: 0.03em;
  color: #cb3723;
}

.menu__button-wrapper {
  text-align: center;
}

.menu__button {
  padding: 12px 0;
  width: 300px;
  font-weight: 800;
  letter-spacing: 0.03em;
  border: 1px solid #333333;
}

.access {
  padding: 40px 0 55px;
}

.access__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.access__map-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6935%;
          flex: 0 0 41.6935%;
  margin-right: 4.4355%;
}

.access__map-wrapper {
  position: relative;
  width: 100%;
  padding-top: 71.76015%;
}

.access__map-wrapper > iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
}

.access__info-contents {
  width: auto;
}

.access__place-wrapper {
  margin-bottom: 22px;
}

.access__place {
  letter-spacing: 0.03em;
}

.access__place-link {
  display: inline-block;
  letter-spacing: 0.03em;
}

.access__place-link span {
  display: inline-block;
  border-bottom: 1px solid #333333;
}

.access__place-icon {
  display: inline-block;
  margin-right: 5px;
}

.access__info-table th, .access__info-table td {
  border-collapse: collapse;
  padding: 3px;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
}

.access__info-table td {
  padding-left: 5px;
}

.access__info-table tr:first-child tr, .access__info-table tr:first-child td {
  padding-bottom: 2px;
}

.access__info-comment {
  letter-spacing: 0.03em;
}

.gallery__slider {
  background: #fff;
  padding: 25px 0;
}

.gallery__slider-items {
  margin-bottom: 9px;
}

.gallery__slider-img-wrapper {
  position: relative;
  padding-top: 75%;
  overflow: hidden;
  border-radius: 3px;
}

.gallery__slider-img-wrapper > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-pagination-bullet {
  background: #DDDCD8;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #333333;
}

.footer {
  padding: 68px 0 67px;
  background: url(../img/footer-bg.png) no-repeat center/cover;
}

.footer__inner {
  max-width: 1280px;
}

.footer__top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.footer__logo-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
}

.footer__sns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__sns-item {
  margin-right: 24px;
}

.footer__sns-item--instagram {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.footer__sns-item--twitter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
          flex: 0 0 38px;
}

.footer__sns-item--facebook {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.footer__sns-item:last-child {
  margin-right: 0;
}

.footer__sns-item a {
  display: block;
}

.footer__nav {
  margin-bottom: 48px;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-item {
  margin-right: 24px;
}

.footer__nav-item:last-child {
  margin-right: 0px;
}

.footer__nav-item a {
  display: block;
  letter-spacing: 0.03em;
}

.footer__copyright {
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=style.css.map */