@charset "utf-8";

$font-color: #333333;
$main-color:#A0D793;

html {
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', sans-serif;
    color: $font-color;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-weight: 600;
}

img {
    width: 100%;
    vertical-align: top;
}

// =======================
//  メディアクエリ
// =======================

$layout-width-inner: 1240px;

$breakpoints: ("sp": "screen and (max-width: 599px)",
    "tab": "screen and (max-width: 1024px)",
    "pc": "screen and (min-width:1025px)",
);

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// =======================
//  共通部分
// =======================

#main {
    background: url(../img/main-bg.png) no-repeat center / cover;
}

.inner {
    box-sizing: content-box;
    padding: 0 30px;
    margin: 0 auto;

    @include mq('sp') {
        padding: 0 20px;
    }
}


.section__inner {
    max-width: $layout-width-inner;

    @include mq("sp") {}
}

.section__title-wrapper {
    text-align: center;
}

.section__title {
    color: $main-color;
    font-size: 40px;
    letter-spacing: 0.05em;
    font-weight: 800;

    @include mq('tab') {
        font-size: 32px;
    }

    @include mq('sp') {
        font-size: 24px;
    }
}

.section__title-img-wrapper {
    width: 104px;
    margin: 0 auto;

    @include mq('tab') {
        width: 80px;
    }

    @include mq('sp') {
        width: 60px;
    }

    &--concept {
        margin-bottom: 63px;

        @include mq('sp') {
            margin-bottom: 40px;
        }
    }

    &--menu {
        margin-bottom: 40px;

        @include mq('sp') {
            margin-bottom: 40px;
        }
    }

    &--access {
        margin-bottom: 32px;

        @include mq('sp') {
            margin-bottom: 40px;
        }
    }

    &--gallery {
        margin-bottom: 55px;

        @include mq('sp') {
            margin-bottom: 40px;
        }
    }
}

.button {
    display: inline-block;
}

a {
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
        opacity: 0.7;
    }
}

// =======================
//	アニメーション
// =======================

.fade-block {
    opacity: 0;
    transition: all .8s ease-out;
    transform: translateY(30px);

    &.active {
        opacity: 1;
        transform: translateY(0);
    }
}

// =======================
//	header
// =======================

.header {
    padding: 37px 0 32px;

    @include mq('tab') {
        padding: 25px 0 25px;
    }

    @include mq('sp') {
        padding: 20px 0 20px;
    }
}

.header__inner {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-wrapper {
    flex: 0 0 190px;

    @include mq('tab') {
        flex: 0 0 160px;
    }

    @include mq('sp') {
        flex: 0 0 120px;
    }
}

.header__menu-wrapper {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.header__nav-item {
    margin-right: 24px;

    &:last-child {
        margin-right: 0;
    }

    a {
        display: block;
        font-size: 16px;
        letter-spacing: 0.03em;
        font-family: 'Noto Serif JP', serif;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.contact-button {
    padding: 8px 11px;
    background: $main-color;
    color: #fff;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

// =======================
//	ハンバーガーメニュー
// =======================

.hamberger {
    height: 25px;
}

#body.open{
    overflow: hidden;
}

.hamberger__line-wrapper {
    display: inline-block;
    width: 30px;
    height: 25px;
    position: relative;
    z-index: 100;

    &.open {

        .hamberger__line {
            &:nth-child(1) {
                width: 100%;
                transform: rotate(-225deg);
                top: 12px;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                width: 100%;
                transform: rotate(225deg);
                bottom: 12px;
            }
        }
    }
}

.hamberger__line {
    display: inline-block;
    height: 1px;
    background-color: #333333;
    position: absolute;

    &:nth-child(1) {
        width: 100%;
        left: 0;
        top: 0;
        transition: all .3s;
    }

    &:nth-child(2) {
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s;

    }

    &:nth-child(3) {
        width: 100%;
        right: 0;
        bottom: 0;
        transition: all .3s;

    }
}

.hamberger__contents{
    padding-top: 25px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: all .3s ease;
    z-index: -100;
    opacity: 0;
    background: transparent;

    &.open {
        opacity: 1;
        z-index: 50;
        background: #fff;
    }

    @include mq('sp') {
        padding-top: 20px;
    }
}

.hamberger-menu {
    border-radius: 0px 0px 0px 3px;
}

.hamberger-menu__list {
    margin-bottom: 30px;
    padding: 0 20px;
}

.hamberger-menu__list-item {
    padding: 15px 0px;
    text-align: center;

    &:first-child {}
}

.hamberger-menu__item-link {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    text-transform: uppercase;
}

.hamberger__contact-button-wrapper {
    text-align: center;

    a {
        padding: 15px 20px;
        display: inline-block;
    }
}

.hamberger__logo-wrapper{
    width: 160px;
    margin-left: 30px;
    margin-bottom: 100px;

    @include mq('sp') {
        width: 120px;
    margin-left: 20px;

    }
}

// =======================
//	fv
// =======================

.fv {
    padding: 80vh 20px 72px 0 ;
    background: url(../img/fv.jpg) no-repeat center / cover;

    @include mq('tab') {
        padding: 60vh 20px 40px 0;
    }

    @include mq('sp') {
        padding: 50vh 20px 40px 0;
        
    }
}

.fv__inner {
    // max-width: 1440px;
    position: relative;
    padding: 0;
    height: 100%;

    @include mq('sp') {}
}



.fv__contents {
    font-weight: 800;
    font-size: 40px;
    font-size: clamp(30px, 3vw, 40px);
    white-space: nowrap;

    @include mq('tab') {
        font-size: clamp(20px, 3vw, 37px);
    }

    @include mq('sp') {
        font-size: 20px;
        white-space: normal;
        padding: 0 15px;
    }
}


.fv__contents-wrapper {
    width: 100%;
    position: absolute;
    bottom: 20%;
    left: 5%;
    transform: translateX(-60%);
    transition: all .8s ease-out;
    opacity: 0;

    h1{
        color: #fff;
    }

    &.active {
        transform: translateX(0);
        opacity: 1;
    }
}

.fv__contents {
    transform: none;
}

.fv__contents-inner {
    width: 100%;

    h1 {
        width: 100%;
    }
}

// =======================
//	concept
// =======================

.concept {
    padding: 63px 0 0 0;

    @include mq('tab') {
        padding: 50px 0 100px;
    }


    @include mq('sp') {
        padding: 40px 0 60px;
    }
}

.concept__inner{
    position: relative;
    padding-bottom: 200px;

    @include mq('tab') {
        padding: 0px 0 100px;
    }


    @include mq('sp') {
        padding: 00px 0 60px;
    }
}

.concept__contents {
    position: relative;
    z-index: 2;

    p {
        text-align: center;
        letter-spacing: 0.03em;

        @include mq('sp') {
            font-size: 14px;
        }
    }
}

.bg-text{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;

    @include mq('tab') {
        bottom: 5%;
    }
}

// =======================
//	menu
// =======================

.menu {
    padding: 72px 0 135px;
    background: url(../img/menu-bg.png) no-repeat center center / cover;

    @include mq('sp') {
        padding: 60px 0 100px;
    }
}

.menu__items {
    margin-bottom: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mq('sp') {
        margin-bottom: 35px;
        display: block;
    }
}

.menu__item {
    flex: 0 0 48.3870%;
    display: flex;
    padding: 25px 21px 25px 20px;
    background: #fff;
    margin-bottom: 40px;
    align-items: center;
    position: relative;

    @include mq('sp') {
        margin-bottom: 30px;
    }

    &:first-child {
        margin: 0 5% 40px;
        min-width: 560px;
        padding: 28px 21px 28px 20px;

        .menu-item__title {
            padding-top: 20px;
        }

        @include mq('sp') {
            min-width: auto;
            margin-right: 0;
            margin-left: 0;
        }

        &::after {
            content: "オススメの1品";
            position: absolute;
            padding: 8px 28px;
            background: $main-color;
            top: 0;
            right: 0;
            display: inline-block;
            color: #fff;
            letter-spacing: 0.03em;
            font-weight: 800;

            @include mq('sp') {
                padding: 5px 20px;
                font-size: 14px;
            }
        }
    }

    &:nth-child(even) {
        margin-right: 3.2258%;

        @include mq('sp') {
            margin-right: 0;
        }
    }

    &:nth-child(4) {
        margin-bottom: 0;

        @include mq('sp') {
            margin-bottom: 30px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.menu-item__img-container {
    flex: 0 0 35.7781%;
    margin-right: 2.5044%;
}

.menu-item__img-wrapper {
    position: relative;
    padding-top: 100%;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.menu-item__contents {
    flex: 1 0;
}

.menu-item__title {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;

    @include mq('sp') {
        font-size: 18px;
    }
}

.menu-item__description {
    font-size: 14px;
    line-height: 1.4285;
    letter-spacing: 0.03em;
    margin-bottom: 14px;

    @include mq('sp') {}
}

.menu-item__price {
    font-weight: 20px;
    letter-spacing: 0.03em;
    color: #cb3723;
}

.menu__button-wrapper {
    text-align: center;
}

.menu__button {
    padding: 12px 0;
    width: 300px;
    font-weight: 800;
    letter-spacing: 0.03em;
    border: 1px solid #333333;
}

// =======================
//	access
// =======================

.access {
    padding: 40px 0 0;
}

.access__inner {
    @include mq('tab') {
        max-width: 700px;
    }
}

.access__contents {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq('tab') {
        display: block;
    }
}

.access__map-container {
    flex: 0 0 41.6935%;
    margin-right: 4.4355%;

    @include mq('tab') {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

.access__map-wrapper {
    position: relative;
    width: 100%;
    padding-top: 371 / 517 * 100%;

    >iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 3px;
    }

}

.access__info-contents {
    width: auto;

    @include mq('sp') {
        font-size: 14px;
    }
}

.access__place-wrapper {
    margin-bottom: 22px;
}

.access__place {
    letter-spacing: 0.03em;
}

.access__place-link {
    display: inline-block;
    letter-spacing: 0.03em;

    span {
        display: inline-block;
        border-bottom: 1px solid #333333;
    }
}

.access__place-icon {
    display: inline-block;
    margin-right: 5px;
}

.access__info-table {

    th,
    td {
        border-collapse: collapse;
        padding: 3px;
        letter-spacing: 0.03em;
        padding-bottom: 12px;

    }

    td {
        padding-left: 5px;
    }

    tr {
        &:first-child {

            tr,
            td {
                padding-bottom: 2px;
            }
        }
    }
}

.access__info-comment {
    letter-spacing: 0.03em;
}

// =======================
//	gallery
// =======================

.gallery {
    padding-top: 55px;
}

.gallery__slider-wrapper {
    background: #fff;

    @include mq('sp') {
    }
}

.gallery__slider {
    padding: 25px 0;
}

.gallery__slider-items {
    margin-bottom: 9px;
}

.gallery__slider-img-wrapper {
    position: relative;
    padding-top: 75%;
    overflow: hidden;
    border-radius: 3px;

    >img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.swiper-pagination-bullet {
    background: #DDDCD8;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #333333;
}

// =======================
//	footer
// =======================

.footer {
    padding: 68px 0 67px;
    background: url(../img/footer-bg.png) no-repeat center / cover;

    @include mq('sp') {
        padding: 40px 0;
    }
}

.footer__inner {
    max-width: 1280px;
}

.footer__top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    @include mq('sp') {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
}

.footer__logo-wrapper {
    flex: 0 0 190px;

    @include mq('sp') {
        width: 160px;
        margin: 0 auto 20px;
    }
}

.footer__sns-wrapper {
    display: flex;

    @include mq('sp') {
        justify-content: center;
    }
}

.footer__sns-item {
    margin-right: 24px;

    @include mq('sp') {
        margin-right: 18px;
    }

    &--instagram {
        flex: 0 0 32px;

        @include mq('sp') {
            flex: 0 0 24px;
        }
    }

    &--twitter {
        flex: 0 0 38px;

        @include mq('sp') {
            flex: 0 0 28px;
        }
    }

    &--facebook {
        flex: 0 0 32px;

        @include mq('sp') {
            flex: 0 0 24px;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    a {
        display: block;
    }
}

.footer__nav {
    margin-bottom: 48px;

    @include mq('sp') {
        margin-bottom: 30px;
    }
}

.footer__nav-list {
    display: flex;

    @include mq('sp') {
        flex-wrap: wrap;
    }
}

.footer__nav-item {
    margin-right: 24px;

    @include mq('sp') {
        flex: 0 0 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }

    &:last-child {
        margin-right: 0px;
    }

    a {
        display: block;
        letter-spacing: 0.03em;
    }
}

.footer__copyright {
    letter-spacing: 0.03em;

    @include mq('sp') {
        text-align: center;
    }
}

// =======================
//	切り替え
// =======================

.is-pc {
    @include mq('tab') {
        display: none;
    }
}

.is-tab {
    display: none;

    @include mq('tab') {
        display: block;
    }
}

.is-sp {
    display: none;

    @include mq('sp') {
        display: block;
    }
}

.is-not-sp {
    display: block;

    @include mq('sp') {
        display: none;
    }
}
