@charset "utf-8";

$font-color: #333333;
$main-color:#A0D793;

html {
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    color: $font-color;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-weight: 600;
}

img {
    width: 100%;
    vertical-align: top;
}

// =======================
//  メディアクエリ
// =======================

$layout-width-inner: 1240px;

$breakpoints: ("sp": "screen and (max-width: 599px)",
    "tab": "screen and (max-width: 1024px)",
    "pc": "screen and (min-width:1025px)",
);

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// =======================
//  共通部分
// =======================

#main{
    background: url(../img/main-bg.png) no-repeat center / cover;
}

.inner {
    box-sizing: content-box;
    padding: 0 30px;
    margin: 0 auto;

    @include mq('sp') {
        padding: 0 20px;
    }
}


.section__inner {
    max-width: $layout-width-inner;

    @include mq("sp") {

    }
}

.section__title-wrapper{
    text-align: center;
}

.section__title{
    color: $main-color;
    font-size: 40px;
    letter-spacing: 0.05em;
    font-weight: 800;
}

.section__title-img-wrapper{
    width: 104px;
    margin: 0 auto;

    &--concept{
        margin-bottom: 63px;
    }

    &--menu{
        margin-bottom: 40px;
    }

    &--access{
        margin-bottom: 32px;
    }

    &--gallery{
        margin-bottom: 55px;
    }
}

.button {
    display: inline-block;
}

// =======================
//	header
// =======================

.header{
    padding: 37px 0 32px;
}

.header__inner{
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-wrapper{
    flex: 0 0 190px;
}

.header__menu-wrapper{
    display: flex;
    align-items: center;
}

.header__nav-list{
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.header__nav-item{
    margin-right: 24px;

    &:last-child{
        margin-right: 0;
    }

    a{
        display: block;
        font-size: 16px;
        letter-spacing: 0.03em;
        font-family: 'Noto Serif JP', serif;
        font-weight: 500;
    text-transform: uppercase;
    }
}

.header__contact-button{
    padding: 8px 11px;
    background: $main-color;
    color: #fff;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

// =======================
//	fv
// =======================

.fv__inner{
    max-width: 1440px;
    position: relative;
}

.fv__contents-wrapper{
    position: absolute;
    left: 5.5555%;
    bottom: 5.3472%;
}

.fv__contents{
    font-weight: 800;
    font-size: 40px;
}

.fv__bg-wrapper{
    width: 82.9521%;
    margin-left: auto;
}

.fv__bg{
    width: 100%;
    padding-top: 53.0492%;
    background: url(../img/fv.png) no-repeat center center / contain;
}

// =======================
//	concept
// =======================

.concept{
    padding: 63px 0 89px;
}

.concept__contents{
    p{
        text-align: center;
        letter-spacing: 0.03em;
    }
}

// =======================
//	menu
// =======================

.menu{
    padding: 40px 0 55px;
    background: url(../img/menu-bg.png) no-repeat center center / cover;
}

.menu__items{
    margin-bottom: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item{
    flex: 0 0 48.3870%;
    display: flex;
    padding: 25px 21px 25px 20px;
    background: #fff;
    margin-bottom: 40px;
    align-items: center;
    position: relative;

    &:first-child{
        margin: 0 5% 40px;
        min-width: 600px;

        &::after{
            content: "オススメの1品";
            position: absolute;
            padding: 8px 28px;
            background: $main-color;
            top: 0;
            right: 0;
            display: inline-block;
            color: #fff;
            letter-spacing: 0.03em;
            font-weight: 800;
        }
    }

    &:nth-child(even){
        margin-right: 3.2258%;
    }

    &:nth-child(4){
        margin-bottom: 0;
    }

    &:last-child{
        margin-bottom: 0;
    }
}

.menu-item__img-container{
    flex: 0 0 35.7781%;
    margin-right: 2.5044%;
}

.menu-item__img-wrapper{
    position: relative;
    padding-top: 100%;

    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.menu-item__contents{
    flex: 1 0 ;
}

.menu-item__title{
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.menu-item__description{
    font-size: 14px;
    line-height: 1.4285;
    letter-spacing: 0.03em;
    margin-bottom: 14px;
}

.menu-item__price{
    font-weight: 20px;
    letter-spacing: 0.03em;
    color: #cb3723;
}

.menu__button-wrapper{
    text-align: center;
}

.menu__button{
    padding: 12px 0;
    width: 300px;
    font-weight: 800;
    letter-spacing: 0.03em;
    border: 1px solid #333333;
}

// =======================
//	access
// =======================

.access{
    padding: 40px 0 55px;
}

.access__contents{
    display: flex;
    align-items: center;
    justify-content: center;
}

.access__map-container{
    flex: 0 0 41.6935%;
    margin-right: 4.4355%;
}

.access__map-wrapper{
    position: relative;
    width: 100%;
    padding-top: 371 / 517 * 100%;

    >iframe{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 3px;
    }

}

.access__info-contents{
    width: auto;
}

.access__place-wrapper{
    margin-bottom: 22px;
}

.access__place{
    letter-spacing: 0.03em;
}

.access__place-link{
    display: inline-block;
    letter-spacing: 0.03em;

    span{
        display: inline-block;
        border-bottom: 1px solid #333333;
    }
}

.access__place-icon{
    display: inline-block;
    margin-right: 5px;
}

.access__info-table{
    th,td{
        border-collapse: collapse;
        padding: 3px;
        letter-spacing: 0.03em;
        padding-bottom: 12px;

    }

    td{
        padding-left: 5px;
    }

    tr{
        &:first-child{
            tr,td{
                padding-bottom: 2px;
            }
        }
    }
}

.access__info-comment{
    letter-spacing: 0.03em;
}

// =======================
//	gallery
// =======================

.gallery{
    padding: 0 0 30px;
}

.gallery__slider{
    background: #fff;
    padding: 25px 0;
}

.gallery__slider-items{
    margin-bottom: 9px;
}

.gallery__slider-img-wrapper{
    position: relative;
    padding-top: 75%;
    overflow: hidden;
    border-radius: 3px;

    >img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.swiper-pagination-bullet{
    background: #DDDCD8;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background: #333333;
}

